<ion-header>
  <ion-navbar color="nav">
    <ion-title>
      نوّرني
    </ion-title>
     <ion-buttons start>
        <button ion-button (click)="logout()" *ngIf="auth.authenticated">
          الخروج &nbsp; 
          <ion-icon  name="log-out" item-left></ion-icon>
        </button>
        <button  ion-button (click)="login()" *ngIf="!auth.authenticated">
          الدخول &nbsp; 
	    <ion-icon name="log-in" item-left></ion-icon>
      </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="bg">
<ion-label class="my-label" stacked style="margin-bottom: 25px;" color="light" *ngIf="auth.getEmail()" text-right  stacked>{{auth.getEmail()}}</ion-label>
<ion-card>
  <ion-card-header>
    
    <ion-card-title text-center style="color: #fc9e43;" >نوّرني</ion-card-title>
  </ion-card-header>

  <ion-card-content text-right style="color: white;">
  
      نوّرني
     هي نافذة تبسطلك تقارير محكمة المحاسبات وتخوّلك قراءة
      ا
    لتقارير اللي تخدمت في قطاع معيّن بطريقة أفقية وممتدّة في الزمان والمكان
 
  </ion-card-content>

</ion-card>



<ion-grid>
<ion-card>
  <ion-card-header>
    
    <ion-card-title text-center style="color: #fc9e43;" >لمحة</ion-card-title>
  </ion-card-header>

  <ion-card-content text-right style="color: white;">
  
      في قطاع الصحة اخترنا في الفيديو هذا باش نركزو على السبيطارات وعلى اللي توصلتلو محكمة المحاسبات بمناسبة مهامها الرقابية.

9 سبيطارات هو العدد اللي شملتو محكمة المحاسبات برقابتها في بلايص مختلفة من تونس لسوسة لقفصة لجندوية للمنستير لصفاقس على فترات رقابية مختلفة تراوحت من عام 1998 لعام 2016..   6 سبيطارات منها جامعية و3 جهوية.

في قطاع الصحة اخترنا في الفيديو هذا باش نركزو على السبيطارات وعلى اللي توصلتلو محكمة المحاسبات بمناسبة مهامها الرقابية.

9 سبيطارات هو العدد اللي شملتو محكمة المحاسبات برقابتها في بلايص مختلفة من تونس لسوسة لقفصة لجندوية للمنستير لصفاقس على فترات رقابية مختلفة تراوحت من عام 1998 لعام 2016..   6 سبيطارات منها جامعية و3 جهوية.
  </ion-card-content>

</ion-card>


<ion-row>
<div  style="margin: 0 auto;">
<video  width="320" height="200" controls poster="../../assets/imgs/kk.png">
  <source preload="metadata" src="../../assets/video/sante.mp4" type="video/mp4">
  

</video> 
</div>
</ion-row>
 
</ion-grid>
</ion-content>


