
<ion-header>
  <ion-navbar color="nav">
    <ion-title>login</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
	<form (ngSubmit)="login()" [formGroup]="loginForm">
		<ion-list inset>

			<ion-item [ngClass]="{ invalid: emailErrors.hasError('*', ['touched', 'dirty']) }">
				<ion-input type="text" placeholder="بريد إلكتروني" formControlName="email"></ion-input>
			</ion-item>

			<div ngxErrors="email" #emailErrors="ngxErrors">
				<div [ngxError]="['email', 'required']" [when]="['touched', 'dirty']">يجب بريد إلكتروني صالح </div>
			</div>

			<ion-item [ngClass]="{ invalid: passwordErrors.hasError('*', ['touched']) }">
				<ion-input type="password" placeholder="كلمة سر" formControlName="password"></ion-input>
			</ion-item>

			<div ngxErrors="password" #passwordErrors="ngxErrors">
				<div [ngxError]="['minlength', 'required']" [when]="['touched']">كلمة سر غير صالحة</div>
			</div>
		</ion-list>

		<div padding-horizontal>
			<div class="form-error">{{loginError}}</div>

			<button ion-button full type="submit" [disabled]="!loginForm.valid">دخول</button>
			<div class="login-footer">
				<p>
					<a href="#" (click)="forgotPassword()">نسيت كلمة السر؟</a>
					عضو جديد، سجل من هنا
				</p>
			</div>

			<ion-list>


				<button ion-button icon-left block clear (click)="signup()">
					<ion-icon name="person-add"></ion-icon>
					تسجيل
				</button>
			</ion-list>
		</div>
	</form>
</ion-content>
