<!--
  Generated template for the IchkiliPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="nav">
    <ion-title>أحكيلي</ion-title>
     <ion-buttons start>
        <button ion-button (click)="logout()" *ngIf="auth.authenticated">
          الخروج &nbsp; 
          <ion-icon  name="log-out" item-left></ion-icon>
        </button>
        <button  ion-button (click)="login()" *ngIf="!auth.authenticated">
          الدخول &nbsp; 
	    <ion-icon name="log-in" item-left></ion-icon>
      </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="bg">

<ion-label class="my-label"  color="light" *ngIf="auth.getEmail()" text-right  stacked>{{auth.getEmail()}}</ion-label>
<ion-card>
  <ion-card-header>
    
    <ion-card-title text-center style="color: #fc9e43;" >أحكيلي</ion-card-title>
  </ion-card-header>

  <ion-card-content text-right style="color: white;">
  
      أحكيلي هي نافذة تتيح الفرصة للمواطن باش يصب عرائض وشكايات عند المحكمة 
      بأي طريقة يختارها ينجم يدخل ويسجل صوتو ويقول اللي يحب ينجم يكتب من غير حدّ ما يعرفو وينجم
       يبعث تصاور ووثائق من أي نوع .. باش يدخل ويصب شكايتو يكفي يختار قطاع وموضوع بطريقة
       تخلي الشكايات يتصبو منظمين ويسهل استعمالهم في برمجة المهام الرقابية من قبل الغرف المعنية
  </ion-card-content>

</ion-card>
<img src="../../assets/imgs/iheb.png" style="width=400px;" >
<br>

<ion-row>
  <ion-col>
   <button ion-button color="nav" full (click)="captureAudio()">نقل رسالة صوتية</button>
  <button ion-button full (click)="captureVideo()">نقل فيديو</button>
  
  </ion-col>

</ion-row>
 

  
</ion-content> 



