<ion-tabs color="nav">
  <ion-tab [root]="tab1Root" tabTitle="الإستقبال" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="نوّرني" tabIcon="bulb"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="إيدي في إيدك" tabIcon="contacts"></ion-tab>
  <ion-tab [root]="tab4Root" [enabled]="auth.enabled"  tabTitle="أحكيلي" tabIcon="happy"></ion-tab>
</ion-tabs>
