<ion-header>
  <ion-navbar color="nav">
    <ion-title>
      يدي في يدك
    </ion-title>
     <ion-buttons start>
        <button ion-button (click)="logout()" *ngIf="auth.authenticated">
          الخروج &nbsp; 
          <ion-icon  name="log-out" item-left></ion-icon>
        </button>
        <button  ion-button (click)="login()" *ngIf="!auth.authenticated">
          الدخول &nbsp; 
	    <ion-icon name="log-in" item-left></ion-icon>
      </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="bg">
<ion-label class="my-label" stacked style="margin-bottom: 25px;" color="light" *ngIf="auth.getEmail()" text-right  stacked>{{auth.getEmail()}}</ion-label>
<ion-card>
  <ion-card-header>
    
    <ion-card-title text-center style="color: #fc9e43;" >إيدي في إيدك</ion-card-title>
  </ion-card-header>

  <ion-card-content text-right style="color: white;">
  
      إيدي في إيدك هي نافذة تخلي محكمة المحاسبات في تعاون متواصل مع مجلس النواب 
      في علاقة مع أعمالها الرقابية وتقاريرها سواء كان هذا 
      من خلال متابعة ما بعد أعمال جلسات الاستماع اللي تصير مع قضاة المحكمة في البرلمان
       أو من خلال عرض توصيات بخصوص نصوص قانونية طرحت إشكال عند تنفيذ المهام الرقابية
  </ion-card-content>

</ion-card>




<ion-grid>
<ion-card>
  <ion-card-content text-right style="color: white;">
  لجنة التشريع العام ليوم الجمعة 08 فيفري 2019
  </ion-card-content>

</ion-card>


<ion-row>
  <div class="row justify-content-center">
    
     <iframe class="mx-auto" style="margin-bottom: 25px; " width="350" height="200" src="https://www.youtube.com/embed/_pwmYQGw9PQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
  </div>
  </ion-row>


<ion-card>
  <ion-card-content text-right style="color: white;">
سؤال ياسين العياري مع إجابة وزير النقل مع التعقيب
  </ion-card-content>

</ion-card>


<ion-row>
  <div class="row justify-content-center">
    
    <iframe class="mx-auto" style="margin-bottom: 25px; " width="350" height="200" src="https://www.youtube.com/embed/uJx8RIqwRMU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
    
  </div>
  </ion-row>

<ion-card>
  <ion-card-content text-right style="color: white;">
  لجنة الإصلاح الإداري والحوكمة الرشيدة ومكافحة الفساد ليوم الاثنين 19 فيفري 2018
  </ion-card-content>

</ion-card>


<ion-row>
  <div class="row justify-content-center">
    <iframe class="mx-auto" style="margin-bottom: 25px; " width="350" height="200" src="https://www.youtube.com/embed/2qK-JWVlMaI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
     
    
  </div>
  </ion-row>




<ion-card>
  <ion-card-content text-right style="color: white;">
  لجنة المالية تستمع إلى ممثلين عن دائرة المحاسبات الأربعاء 14 جوان 2017
  </ion-card-content>

</ion-card>


<ion-row>
  <div class="row justify-content-center">
    
     
    <iframe class="mx-auto" style="margin-bottom: 25px; " width="350" height="200" src="https://www.youtube.com/embed/GreATcbtuOQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  </ion-row>


</ion-grid>
</ion-content>
