<ion-header>
  <ion-navbar color="nav">
    <ion-title>الإستقبال</ion-title>
      <ion-buttons start>
        <button ion-button (click)="logout()" *ngIf="auth.authenticated">
          الخروج &nbsp; 
          <ion-icon  name="log-out" item-left></ion-icon>
        </button>
        <button  ion-button (click)="login()" *ngIf="!auth.authenticated">
          الدخول &nbsp; 
	    <ion-icon name="log-in" item-left></ion-icon>
      </button>
    </ion-buttons>
    

  </ion-navbar>
</ion-header>

<ion-content padding class="bg">



<ion-grid>
<ion-row>
<ion-label  class="my-label" color="light"  *ngIf="auth.getEmail()" text-right  stacked style="margin-bottom: 25px;">{{auth.getEmail()}}</ion-label>
  
</ion-row>

<ion-row>
<div  style="margin: 0 auto;">
<video  width="320" height="200" controls poster="../../assets/imgs/prob.png">
  <source preload="metadata" src="../../assets/video/layla.mp4" type="video/mp4">
  

</video> 
</div>
</ion-row>
</ion-grid>

</ion-content>
